<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission
        android:name="android.permission.MANAGE_EXTERNAL_STORAGE"
        android:minSdkVersion="38" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <user-feature
        android:name="android.hardware.camera"
        android:require="False" />
    <user-feature
        android:name="android.hardware.camera.autofocus"
        android:require="False" />
    <user-feature
        android:name="android.hardware.camera.flash"
        android:require="False" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Company"
        tools:targetApi="31">
        <activity
            android:name=".SoldActivity"
            android:exported="false"
            android:label="@string/title_activity_sold"
            android:theme="@style/Theme.Company.NoActionBar" />
        <activity
            android:name=".AvailableActivity"
            android:exported="false"
            android:label="@string/title_activity_available"
            android:theme="@style/Theme.Company.NoActionBar" />
        <activity
            android:name=".BaseActivityVeh"
            android:exported="false"
            android:label="@string/title_activity_base_veh"
            android:theme="@style/Theme.Company.NoActionBar" />
        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ModifyDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".ModifyActivity"
            android:exported="false" />
        <activity
            android:name=".AddActivity"
            android:exported="false" />
        <activity
            android:name=".CompanyActivity"
            android:exported="false" />
        <activity
            android:name=".ViewActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>